.box {
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background: none;
    width: 600px;
    animation: transitionIn 0.75s;
}

.name-field {
    display: flex;
    justify-content: space-between;
}

.name-field input {
    width: 280px;
}

input, textarea {
    background: none;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    outline: none;
    transition: 0.3s;
}

input:focus, textarea:focus {
    border-color: #3498db;
}

input[type = "text"] {
    margin: 10px 10px;
    padding: 14px 10px;
}

textarea[name="message"] {
    margin: 10px 10px;
    padding: 10px 10px;
    height: 200px;
}

input[type = "submit"] {
    margin: 10px auto;
    border: 3px solid #2ecc71;
    border-radius: 20px;
    padding: 14px 10px;
    width: 120px;
    cursor: pointer;
    transition: 0.25s;
}

input[type = "submit"]:hover {
    background-color: #2ecc71;
}

body {
    overflow: hidden;
}

/*Large (-lg-) devices (desktops, 992px and lower)*/
@media (max-width: 992px) {
    .box {
        width: 550px;
    }

    .name-field input {
        width: 255px;
    }
}

 /*Medium (-md-) devices (tablets, 768px and lower)*/
 @media (max-width: 768px) {
    .box {
        width: 500px;
    }

    .name-field input {
        width: 230px;
    }
}

 /*Small (-sm-) devices (landscape phones, 576px and lower)*/
 @media (max-width: 576px) {
    .box {
        width: 380px;
    }

    .name-field input {
        width: 170px;
    }
 }