/*---Default---*/
* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

/*ID*/

/*Classes*/

.body1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

/*---Elements---*/
body {
    background-color: lightgray
}

/*---Media Queries---*/
@media (max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}