* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* -- ID -- */

/* -- Classes -- */
.logo {
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(226, 226, 226);
    justify-content: space-around;
    align-items: center;
}

.logo img {
    margin: 10px;
    max-width: 7vh;
    max-height: 7vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(226, 226, 226);
    padding: 15px;
    border-radius: 10px;
    background-color: hotpink;
}

.home-body {
    display: flex;
    align-items: stretch;
}

.body-paragraph {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.body-paragraph p {
    font-size: 25pt;
    color: #505050;
    line-height: 300%;
}

/* -- Elements -- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #d4af37;
}

 /*Small (-sm-) devices (landscape phones, 576px and down)*/
@media (max-width: 576px) {

}

/*Medium (-md-) devices (tablets, 768px and down)*/
@media (max-width: 768px) {

}