* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* -- ID -- */

/* -- Classes -- */
.logo {
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(226, 226, 226);
    justify-content: space-around;
    align-items: center;
}

.logo img {
    margin: 10px;
    max-width: 7vh;
    max-height: 7vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(226, 226, 226);
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    background-color: #b08f26;
}

.home-body {
    display: flex;
    align-items: stretch;
}

.body-paragraph {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.body-paragraph p {
    font-size: 25pt;
    color: #505050;
    line-height: 300%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* -- Elements -- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    max-height: 8vh;
    background-color: #d4af37;
}

body {
    overflow-x: hidden;
}

 /*Small (-sm-) devices (landscape phones, 576px and lower)*/
@media (max-width: 576px) {
    .nav-links {
        background-color: #d4af37;
        position: absolute;
        height: 92vh;
        max-width: 30%;
        top: 8vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
    }

    .body-paragraph p {
        font-size: 16pt;
    }
}

/*Medium (-md-) devices (tablets, 768px and lower)*/
@media (max-width: 768px) {
    .nav-links {
        margin: 0;
        width: 60%;
    }
}

/*Large (-lg-) devices (desktops, 992px and lower)*/
@media (max-width: 992px) {
    .nav-links {
        margin: 0;
        width: 60%;
    }
}

/* -- Toggle Classes*/
.nav-active {
    transform: translateX(0%);
}