/*---Default---*/
* {
    margin: 0px;
    padding: 0px;
}

/*---Tags---*/
body {
    background-color: goldenrod}

h1 {
    border-width: 0px;
    background-color: aqua;
    color: white;
    margin: 0px;
    text-align: center;
}